$textColor = #282828 // 默认字体颜色
$text

body {
    font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif;
    font-size: 14px;
}
table {
    display: table;
}
table,
thead,
tbody {
    width: 100%;
}
tr,
th,
td {
    border: none;
    background-color: #fff;
}
th,
td {
    border-bottom: 1px solid #cecece;
    padding: 15px 15px 15px 10px;
    text-align: left;
}
.theme-default-content.custom {
    display: none;
}
.home .features .feature {
    //text-align: center;
}

.descriptions-demo tr,
.descriptions-demo th,
.descriptions-demo td {
    border: none;
}
.descriptions-demo td {
    padding: 0;
}