// 主题色
$primary-base-color: #c20000;
$hover-base-color: #db1c1c;
$active-base-color: #a90000;

// 文字色
$first-text-color: #282828;
$second-text-color: #595959;
$third-text-color: #969696;

// 图标色
$first-icon-color: $second-text-color;
$second-icon-color: $third-text-color;

// 填充色
$hover-fill-color: #f4f4f4;
$active-fill-color: #eaeaea;
$disabled-fill-color: #f7f7f7;
$background-fill-color: #f3f3f3;
$table-header-fill-color: #f9f9f9;

// 线条色
$border-color: #cecece;
$line-color: #e5e5e5;

// 语义色
$success-color: #01b42a;
$hover-success-color: #42e167;
$active-success-color: #01861f;
$disabled-success-color: #74f091;
$disabled-text--success-color: #aefac0;

$warning-color: #ff7d00;
$hover-warning-color: #ffa34a;
$active-warning-color: #d66900;
$disabled-warning-color: #ffbc7b;
$disabled-text--warning-color: #ffd8b2;

$danger-color: #f53f3f;
$hover-danger-color: #ff5656;
$active-danger-color: #cf2525;
$disabled-danger-color: #ff9595;
$disabled-text--danger-color: #ffbfbf;

$help-color: #0060ff;
$hover-help-color: #4a8eff;
$active-help-color: #0051d6;
$disabled-help-color: #7badff;
$disabled-text--help-color: #b2cfff;

$disabled-text--info-color: $background-fill-color;

// 主要字体
$font-family: "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica,
  Arial, sans-serif;
$font-size: 14px;
$line-height: 20px;

$font-weight: 400;
$font-weight--bold: 600;

$font-size--small: 12px;
$line-height--small: 16px;

$font-size--large: 16px;
$line-height--large: 24px;

$font-size--super: 18px;
$line-height--super: 26px;

// 颜色
$white-color: #ffffff;

// 描边
$border: 1px solid $border-color;
$border-dashed: 1px dashed $border-color;

// 禁用文本
$disabled-text-color: $third-text-color;

// 圆角
$radius: 4px;
$radius--small: 2px;
$radius--large: 8px;

// 按钮尺寸
$button-height: 32px;
$button-height--small: 24px;
$button-height--large: 40px;

// 阴影
$shadow-card: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
$shadow-nav-dropdown: 0 3px 7px 2px rgba(0, 0, 0, 0.05);
$shadow-sidebar: 1px 0 3px 0 rgba(0, 0, 0, 0.05);
$shadow-dropdown: 0 4px 10px 2px rgba(0, 0, 0, 0.06),
  0 2px 5px -1px rgba(0, 0, 0, 0.08);
$shadow-message: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);

// 滚动条
$scrollbar-color: $border-color;
$scrollbar-vertical-width: 6px;
$scrollbar-horizontal-top: 2px;

$scrollbar-horizontal-height: 6px;
$scrollbar-horizontal-right: 2px;

// 按钮颜色列表
$button-colors: (
  default: (
    color: $second-text-color,
    background-color: $white-color,
    border-style: solid,
    border-color: $border-color,
    hover-color: $hover-base-color,
    hover-border-color: $hover-base-color,
    // hover-background-color: $white-color,
    active-color: $active-base-color,
    active-border-color: $active-base-color,
    active-background-color: $white-color,
    disabled-color: $third-text-color,
    disabled-border-color: $border-color,
    disabled-background-color: $disabled-fill-color,
  ),
  primary: (
    color: $white-color,
    background-color: $primary-base-color,
    hover-color: $white-color,
    hover-border-color: none,
    hover-background-color: $hover-base-color,
    active-color: $white-color,
    active-border-color: none,
    active-background-color: $active-base-color,
    disabled-color: $third-text-color,
    disabled-background-color: $disabled-fill-color,
    plain-color: $primary-base-color,
    plain-border-color: lighten($primary-base-color, 40%),
    plain-background-color: lighten($primary-base-color, 50%),
    plain-hover-color: $white-color,
    plain-hover-border-color: $primary-base-color,
    plain-hover-background-color: $hover-base-color,
    plain-active-color: $white-color,
    plain-active-border-color: $active-base-color,
    plain-active-background-color: $active-base-color,
  ),
  dashed: (
    color: $second-text-color,
    background-color: $white-color,
    border-style: dashed,
    border-color: $border-color,
    hover-color: $hover-base-color,
    hover-border-color: $hover-base-color,
    // hover-background-color: $white-color,
    active-color: $active-base-color,
    active-border-color: $active-base-color,
    active-background-color: $white-color,
    disabled-color: $third-text-color,
    disabled-border-color: $border-color,
    disabled-background-color: $disabled-fill-color,
  ),
  text: (
    color: $primary-base-color,
    hover-color: $hover-base-color,
    active-color: $active-base-color,
    disabled-color: $third-text-color,
  ),
  success: (
    color: $white-color,
    background-color: $success-color,
    hover-color: $white-color,
    hover-border-color: none,
    hover-background-color: $hover-success-color,
    active-color: $white-color,
    active-border-color: none,
    active-background-color: $active-success-color,
    disabled-color: $third-text-color,
    disabled-background-color: $disabled-fill-color,
    plain-color: $success-color,
    plain-border-color: lighten($success-color, 40%),
    plain-background-color: lighten($success-color, 50%),
    plain-hover-color: $white-color,
    plain-hover-border-color: $success-color,
    plain-hover-background-color: $success-color,
    plain-active-color: $white-color,
    plain-active-border-color: $active-success-color,
    plain-active-background-color: $active-success-color,
  ),
  warning: (
    color: $white-color,
    background-color: $warning-color,
    hover-color: $white-color,
    hover-border-color: none,
    hover-background-color: $hover-warning-color,
    active-color: $white-color,
    active-border-color: none,
    active-background-color: $active-warning-color,
    disabled-color: $third-text-color,
    disabled-background-color: $disabled-fill-color,
    plain-color: $warning-color,
    plain-border-color: lighten($warning-color, 30%),
    plain-background-color: lighten($warning-color, 40%),
    plain-hover-color: $white-color,
    plain-hover-border-color: $warning-color,
    plain-hover-background-color: $warning-color,
    plain-active-color: $white-color,
    plain-active-border-color: $active-warning-color,
    plain-active-background-color: $active-warning-color,
  ),
  danger: (
    color: $white-color,
    background-color: $danger-color,
    hover-color: $white-color,
    hover-border-color: none,
    hover-background-color: $hover-danger-color,
    active-color: $white-color,
    active-border-color: none,
    active-background-color: $active-danger-color,
    disabled-color: $third-text-color,
    disabled-background-color: $disabled-fill-color,
    plain-color: $danger-color,
    plain-border-color: lighten($danger-color, 30%),
    plain-background-color: lighten($danger-color, 35%),
    plain-hover-color: $white-color,
    plain-hover-border-color: $danger-color,
    plain-hover-background-color: $danger-color,
    plain-active-color: $white-color,
    plain-active-border-color: $active-danger-color,
    plain-active-background-color: $active-danger-color,
  ),
  help: (
    color: $white-color,
    background-color: $help-color,
    hover-color: $white-color,
    hover-border-color: none,
    hover-background-color: $hover-help-color,
    active-color: $white-color,
    active-border-color: none,
    active-background-color: $active-help-color,
    disabled-color: $third-text-color,
    disabled-background-color: $disabled-fill-color,
    plain-color: $help-color,
    plain-border-color: lighten($help-color, 30%),
    plain-background-color: lighten($help-color, 40%),
    plain-hover-color: $white-color,
    plain-hover-border-color: $help-color,
    plain-hover-background-color: $help-color,
    plain-active-color: $white-color,
    plain-active-border-color: $active-help-color,
    plain-active-background-color: $active-help-color,
  ),
);
